@{
    ViewBag.Title = "重发验证邮件";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ReSendConfirmEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr/>
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>将向您的邮箱重新发送一封邮件，里面包含了一个链接来验证您的帐号，请点击如下按钮来重新发送验证邮件。</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="发送" />
        </div>
    </div>
}