<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serverUrl" value="http://localhost:54130/"/>
    <add key="username" value="judger@sdcb.in"/>
    <add key="password" value="A-Pa5sword-That:Never8eenUsed"/>
  </appSettings>
</configuration>